<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AOYKDisplayBooksServlet</servlet-name>
        <servlet-class>club.admin.AOYKDisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AOYKAddBookServlet</servlet-name>
        <servlet-class>club.admin.AOYKAddBookServlet</servlet-class>
        <!--        <init-param>
            <param-name>quantity</param-name>
            <param-value>0</param-value>
        </init-param>-->
    </servlet>
    <servlet>
        <servlet-name>AOYKLoanServlet</servlet-name>
        <servlet-class>club.cart.AOYKLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AOYKCartServlet</servlet-name>
        <servlet-class>club.cart.AOYKCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AOYKClearCartServlet</servlet-name>
        <servlet-class>club.cart.AOYKClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AOYKMemberAdminController</servlet-name>
        <servlet-class>club.admin.AOYKMemberAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AOYKDisplayBooksServlet</servlet-name>
        <url-pattern>/AOYKDisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AOYKAddBookServlet</servlet-name>
        <url-pattern>/AOYKAddBook</url-pattern>
    </servlet-mapping>
    <!--added error-page by Yunice at Feb 17, 2020-->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/AOYKError.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AOYKLoanServlet</servlet-name>
        <url-pattern>/AOYKLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AOYKCartServlet</servlet-name>
        <url-pattern>/AOYKCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AOYKClearCartServlet</servlet-name>
        <url-pattern>/AOYKClearCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AOYKMemberAdminController</servlet-name>
        <url-pattern>/AOYKMemberAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>AOYKIndex.jsp</welcome-file>
    </welcome-file-list>
</web-app>
